 #                                                  STATISTICAL THINKING

## Introduction
The Millennium Development Goals were a set of 8 goals for 2015 that were defined by the United Nations to help improve living conditions and the conditions of our planet. Key indicators were defined for each of these goals, to see whether they were being met. We will have a look at some of the key indicators from Goal 7: Ensure environmental sustainability, namely carbon dioxide emissions, protected land and sea areas, and forests.

* We will explore the dataset provided and analyse the polution behaviours of the countries over the past years.

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as stats
from scipy.stats.stats import pearsonr

import warnings
warnings.filterwarnings('ignore')

# # for displaying all columns

sns.set()

In [2]:
mdg_data = pd.read_csv("mdg.csv")
mdg_data.head()

,CountryCode,Country,SeriesCode,MDG,Series,1990,Footnotes,Type,1991,Footnotes.1,...,Type.26,2017,Footnotes.27,Type.27,2018,Footnotes.28,Type.28,2019,Footnotes.29,Type.29
0,4,Afghanistan,567,Y,"Proportion of land area covered by forest, per...",2.1,NaN,E,,,...,,,,,,,,,,
1,4,Afghanistan,749,Y,"Carbon dioxide emissions (CO2), thousand metri...",2676.9,NaN,G,2493.6,NaN,...,,,,,,,,,,
2,4,Afghanistan,616,Y,Terrestrial and marine areas protected to tota...,0.36,NaN,C,,,...,,,,,,,,,,
3,8,Albania,567,Y,"Proportion of land area covered by forest, per...",28.8,NaN,C,,,...,,,,,,,,,,
4,8,Albania,749,Y,"Carbon dioxide emissions (CO2), thousand metri...",7488,NaN,G,3971.4,NaN,...,,,,,,,,,,

In [3]:
mdg_data.shape

(690, 95)

 The Dataframe has 690 rows and 95 Columns

 # MISSING VALUES

In [4]:
#since there are empty cells. they need to be replaced with "NaN" before finding the some of missing values
mdg_data = mdg_data.replace(r'^\s*$', np.nan, regex=True)

mdg_data.head()

,CountryCode,Country,SeriesCode,MDG,Series,1990,Footnotes,Type,1991,Footnotes.1,...,Type.26,2017,Footnotes.27,Type.27,2018,Footnotes.28,Type.28,2019,Footnotes.29,Type.29
0,4,Afghanistan,567,Y,"Proportion of land area covered by forest, per...",2.1,NaN,E,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4,Afghanistan,749,Y,"Carbon dioxide emissions (CO2), thousand metri...",2676.9,NaN,G,2493.6,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4,Afghanistan,616,Y,Terrestrial and marine areas protected to tota...,0.36,NaN,C,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,8,Albania,567,Y,"Proportion of land area covered by forest, per...",28.8,NaN,C,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,8,Albania,749,Y,"Carbon dioxide emissions (CO2), thousand metri...",7488,NaN,G,3971.4,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# dealing with mising values
mdg_data.isnull().sum()

CountryCode       0
Country           0
SeriesCode        0
MDG               0
Series            0
               ...
Footnotes.28    690
Type.28         690
2019            690
Footnotes.29    690
Type.29         690
Length: 95, dtype: int64

 # CLEANING THE DATA

In [6]:
#since we have columns with 690 missing value, it means there is no data available along the columns.. therefore all columns with 690 missing values should be dropped
mdg_drop_null = mdg_data.dropna(how='all', axis='columns')
mdg_drop_null.head()

,CountryCode,Country,SeriesCode,MDG,Series,1990,Footnotes,Type,1991,Type.1,...,Type.18,2009,Type.19,2010,Footnotes.20,Type.20,2011,Type.21,2014,Type.24
0,4,Afghanistan,567,Y,"Proportion of land area covered by forest, per...",2.1,NaN,E,NaN,NaN,...,NaN,NaN,NaN,2.1,NaN,E,NaN,NaN,NaN,NaN
1,4,Afghanistan,749,Y,"Carbon dioxide emissions (CO2), thousand metri...",2676.9,NaN,G,2493.6,G,...,G,6776.6,G,8470.8,NaN,G,12251.4,G,NaN,NaN
2,4,Afghanistan,616,Y,Terrestrial and marine areas protected to tota...,0.36,NaN,C,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.46,C
3,8,Albania,567,Y,"Proportion of land area covered by forest, per...",28.8,NaN,C,NaN,NaN,...,NaN,NaN,NaN,28.3,NaN,C,NaN,NaN,NaN,NaN
4,8,Albania,749,Y,"Carbon dioxide emissions (CO2), thousand metri...",7488,NaN,G,3971.4,G,...,G,4488.4,G,4415.1,NaN,G,4668.1,G,NaN,NaN

In [7]:
mdg_drop_null.columns

Index(['CountryCode', 'Country', 'SeriesCode', 'MDG', 'Series', '1990',
       'Footnotes', 'Type', '1991', 'Type.1', '1992', 'Type.2', '1993',
       'Type.3', '1994', 'Type.4', '1995', 'Type.5', '1996', 'Type.6', '1997',
       'Type.7', '1998', 'Type.8', '1999', 'Type.9', '2000', 'Footnotes.10',
       'Type.10', '2001', 'Type.11', '2002', 'Type.12', '2003', 'Type.13',
       '2004', 'Type.14', '2005', 'Footnotes.15', 'Type.15', '2006', 'Type.16',
       '2007', 'Type.17', '2008', 'Type.18', '2009', 'Type.19', '2010',
       'Footnotes.20', 'Type.20', '2011', 'Type.21', '2014', 'Type.24'],
      dtype='object')

In [8]:
# New Dataframe missing values in descending order
mdg_null_columns=mdg_drop_null.columns[mdg_drop_null.isnull().any()]
mdg_drop_null[mdg_drop_null.columns].isnull().sum().sort_values(ascending=False)

Footnotes.10    685
Footnotes       685
Footnotes.20    685
Footnotes.15    685
Type.1          508
1991            508
Type.3          486
1993            486
Type.2          486
1992            486
1994            485
Type.4          485
1996            484
Type.6          484
1995            483
Type.5          483
Type.8          481
1999            481
Type.9          481
Type.7          481
1997            481
1998            481
Type.11         479
2001            479
Type.13         478
2002            478
2003            478
2004            478
Type.14         478
Type.12         478
Type.16         476
2006            476
2007            475
Type.21         475
2011            475
2009            475
Type.18         475
2008            475
Type.17         475
Type.19         475
Type.24         467
2014            467
2005            254
Type.15         253
2010            252
Type.20         251
1990             63
Type             62
2000             34
Type.10          33
Series            0
MDG               0
SeriesCode        0
Country           0
CountryCode       0
dtype: int64

In [9]:
#droping Footnote columns to have consistancy in the data
mdg_drop_null.columns.drop(['Footnotes','Footnotes.10','Footnotes.15','Footnotes.20'])

Index(['CountryCode', 'Country', 'SeriesCode', 'MDG', 'Series', '1990', 'Type',
       '1991', 'Type.1', '1992', 'Type.2', '1993', 'Type.3', '1994', 'Type.4',
       '1995', 'Type.5', '1996', 'Type.6', '1997', 'Type.7', '1998', 'Type.8',
       '1999', 'Type.9', '2000', 'Type.10', '2001', 'Type.11', '2002',
       'Type.12', '2003', 'Type.13', '2004', 'Type.14', '2005', 'Type.15',
       '2006', 'Type.16', '2007', 'Type.17', '2008', 'Type.18', '2009',
       'Type.19', '2010', 'Type.20', '2011', 'Type.21', '2014', 'Type.24'],
      dtype='object')

In [10]:
mdg_data.Country.unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Anguilla', 'Antigua and Barbuda', 'Argentina',
       'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan',
       'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada',
       'Cape Verde', 'Cayman Islands', 'Central African Republic', 'Chad',
       'Chile', 'China', 'China, Hong Kong Special Administrative Region',
       'China, Macao Special Administrative Region', 'Colombia',
       'Comoros', 'Congo', 'Cook Islands', 'Costa Rica', "Cote d'Ivoire",
       'Croatia', 'Cuba', 'Cyprus', 'Czech Republic',
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Ethiopia', 'Faeroe Islands', 'Falkland Islands (Malvinas)',
       'Fiji', 'Finland', 'France', 'French Guiana', 'French Polynesia',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar',
       'Greece', 'Greenland', 'Grenada', 'Guadeloupe', 'Guam',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       "Korea, Democratic People's Republic of", 'Korea, Republic of',
       'Kuwait', 'Kyrgyzstan', "Lao People's Democratic Republic",
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia',
       'Libyan Arab Jamahiriya', 'Liechtenstein', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Martinique', 'Mauritania',
       'Mauritius', 'Mayotte', 'Mexico',
       'Micronesia, Federated States of', 'Monaco', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'Netherlands Antilles',
       'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'Niue', 'Northern Mariana Islands', 'Norway', 'Oman', 'Pakistan',
       'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Republic of Moldova', 'Reunion', 'Romania', 'Russian Federation',
       'Rwanda', 'Saint Helena', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Serbia and Montenegro', 'Seychelles',
       'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'State of Palestine', 'Sudan',
       'Sudan (former)', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Thailand',
       'The former Yugoslav Republic of Macedonia', 'Timor-Leste', 'Togo',
       'Tokelau', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United Republic of Tanzania', 'United States',
       'United States Virgin Islands', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela', 'Viet Nam', 'Wallis and Futuna Islands',
       'Western Sahara', 'Yemen',
       'Yugoslavia [former Socialist Federal Republic]', 'Zambia',
       'Zimbabwe'], dtype=object)

#### Filling all null values with average per country

In [11]:
mdg_new = mdg_drop_null
mdg_new = mdg_new.fillna(mdg_new.mean(axis='rows'))

mdg_new

,CountryCode,Country,SeriesCode,MDG,Series,1990,Footnotes,Type,1991,Type.1,...,Type.18,2009,Type.19,2010,Footnotes.20,Type.20,2011,Type.21,2014,Type.24
0,4,Afghanistan,567,Y,"Proportion of land area covered by forest, per...",2.1,NaN,E,NaN,NaN,...,NaN,NaN,NaN,2.1,NaN,E,NaN,NaN,NaN,NaN
1,4,Afghanistan,749,Y,"Carbon dioxide emissions (CO2), thousand metri...",2676.9,NaN,G,2493.6,G,...,G,6776.6,G,8470.8,NaN,G,12251.4,G,NaN,NaN
2,4,Afghanistan,616,Y,Terrestrial and marine areas protected to tota...,0.36,NaN,C,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.46,C
3,8,Albania,567,Y,"Proportion of land area covered by forest, per...",28.8,NaN,C,NaN,NaN,...,NaN,NaN,NaN,28.3,NaN,C,NaN,NaN,NaN,NaN
4,8,Albania,749,Y,"Carbon dioxide emissions (CO2), thousand metri...",7488,NaN,G,3971.4,G,...,G,4488.4,G,4415.1,NaN,G,4668.1,G,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
685,894,Zambia,749,Y,"Carbon dioxide emissions (CO2), thousand metri...",2445.9,NaN,G,2416.6,G,...,G,2486.2,G,2673.2,NaN,G,3047.3,G,NaN,NaN
686,894,Zambia,616,Y,Terrestrial and marine areas protected to tota...,36.05,NaN,C,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.85,C
687,716,Zimbabwe,567,Y,"Proportion of land area covered by forest, per...",57.3,NaN,C,NaN,NaN,...,NaN,NaN,NaN,40.4,NaN,C,NaN,NaN,NaN,NaN
688,716,Zimbabwe,749,Y,"Carbon dioxide emissions (CO2), thousand metri...",15504.1,NaN,G,15823.1,G,...,G,8239.7,G,9028.2,NaN,G,9860.6,G,NaN,NaN
689,716,Zimbabwe,616,Y,Terrestrial and marine areas protected to tota...,16.9,NaN,C,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.61,C

 # 1. Countries that are represented. Missing values are there by country, year and series.

 #### Number of country represented

In [13]:
mdg_data['Country'].nunique()

230

 ### Missing values by Country, Year, Series

In [14]:
#missing values by country in ascending order
display(mdg_data.groupby('Country').apply(lambda x: x.isnull().sum().sum()).sort_values(ascending=False).head(50))
display(mdg_data.groupby('Country').apply(lambda x: x.isnull().sum().sum()).sort_values(ascending=False).tail(50))

Country
Yugoslavia [former Socialist Federal Republic]    266
Sudan                                             264
South Sudan                                       264
Monaco                                            260
United States Virgin Islands                      256
San Marino                                        256
Mayotte                                           256
Puerto Rico                                       256
Tuvalu                                            256
Guam                                              256
Tokelau                                           256
American Samoa                                    256
Northern Mariana Islands                          256
Western Sahara                                    256
Liechtenstein                                     246
Montenegro                                        244
Serbia                                            244
Lesotho                                           242
Serbia and Montenegro                             242
Wallis and Futuna Islands                         240
Timor-Leste                                       236
State of Palestine                                226
Anguilla                                          226
Micronesia, Federated States of                   226
Andorra                                           222
Turks and Caicos Islands                          222
Somalia                                           220
Eritrea                                           220
China, Hong Kong Special Administrative Region    220
China, Macao Special Administrative Region        220
Saint Helena                                      218
Gibraltar                                         218
Saint Pierre and Miquelon                         218
Sudan (former)                                    218
Czech Republic                                    216
Croatia                                           216
Slovakia                                          216
Lithuania                                         216
Estonia                                           216
Palau                                             216
Bosnia and Herzegovina                            216
Russian Federation                                216
Georgia                                           216
Slovenia                                          216
Republic of Moldova                               216
Azerbaijan                                        216
Tajikistan                                        216
Ukraine                                           216
Armenia                                           216
Kazakhstan                                        216
dtype: int64

Country
Italy                                     212
Panama                                    212
Oman                                      212
Liberia                                   212
Marshall Islands                          212
Malta                                     212
Mali                                      212
Maldives                                  212
Malaysia                                  212
Malawi                                    212
Madagascar                                212
Luxembourg                                212
Zambia                                    212
Lebanon                                   212
Norway                                    212
Lao People's Democratic Republic          212
Kuwait                                    212
Korea, Republic of                        212
Korea, Democratic People's Republic of    212
Kiribati                                  212
Kenya                                     212
Jordan                                    212
Japan                                     212
Jamaica                                   212
Martinique                                212
Afghanistan                               212
Mauritania                                212
Nauru                                     212
Niue                                      212
Nigeria                                   212
Niger                                     212
Nicaragua                                 212
New Zealand                               212
New Caledonia                             212
Netherlands Antilles                      212
Nepal                                     212
Netherlands                               212
Namibia                                   212
Myanmar                                   212
Mozambique                                212
Morocco                                   212
Montserrat                                212
Mongolia                                  212
Mexico                                    212
Mauritius                                 212
Finland                                   208
China                                     208
Poland                                    208
Hungary                                   208
French Guiana                             208
dtype: int64

In [15]:
# missing values by series
mdg_data.groupby('Series').apply(lambda x: x.isnull().sum().sum()).sort_values(ascending=False)

Series
Terrestrial and marine areas protected to total territorial area, percentage    19362
Proportion of land area covered by forest, percentage                           18892
Carbon dioxide emissions (CO2), thousand metric tons of CO2 (CDIAC)             11550
dtype: int64

In [16]:
# Missing values by year
mdg_data.loc[: , ('1990','1991','1992','1993','1994','1995','1996','1997','1998','1999','2000','2001','2002','2003','2004','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015','2016','2017','2018','2019')].isnull().sum().sort_values(ascending = False)

2019    690
2017    690
2016    690
2015    690
2013    690
2012    690
2018    690
1991    508
1993    486
1992    486
1994    485
1996    484
1995    483
1997    481
1998    481
1999    481
2001    479
2004    478
2002    478
2003    478
2006    476
2007    475
2008    475
2009    475
2011    475
2014    467
2005    254
2010    252
1990     63
2000     34
dtype: int64

# 2. Top and bottom 5 countries in terms of C02 emissions in 1990 and their emissions and how they changed by 2011

In [17]:
# Slicing the dataframes for 1990 and 2011
#1990
df_90 = df2.loc[:, ('Country','1990') ]
display(df_90)

#2011
df_11 = df2.loc[:, ('Country','2011') ]
display(df_11)

NameError: name 'df2' is not defined

In [ ]:
#filling NaN values with '0' 
#1990
df_90['1990'] = df_90['1990'].fillna(0)
display(df_90)

#2011
df_11['2011'] = df_11['2011'].fillna(0)
display(df_11)

In [ ]:
#Groupby Country sum
df5 = df_90.groupby('Country')['1990'].apply(lambda x : x.astype(float).sum()) #1990
df6 = df_11.groupby('Country')['2011'].apply(lambda x : x.astype(float).sum()) #2011

In [ ]:
display(df5.reset_index().sort_values(['1990'],ascending=False))
display(df6.reset_index().sort_values(['2011'],ascending=False))

  ### 1990
##### The top 5  countries and their emission 
* United States = 4823599.85
* China = 2460773.08
* Japan = 1094358.17
* India = 690601.04
* United Kingdom = 555919.37 
##### The bottom 5  countries and their emission
* Sudan = 1.28
* Monaco = 0.18
* Serbia and Montenegro = 0.00
* Tokelau = 0.00
* San Marino = 0.00

 ### 2011
##### The top 5  countries and their emission 
* China	= 9019518.2
* United States = 5305569.6
* India = 2074344.9
* Russian Federation = 1808073.0
* Japan	= 1187657.0 
##### The bottom 5  countries and their emission
* Guam	0.0
* Serbia and Montenegro	0.0
* South Sudan	0.0
* Sudan	0.0
* Mayotte 0.0

 Four countries remained within the Top 5 , in 1990 and 2011, Russian Federation replaced United Kindom in 2011 from 1990 top 5.
 The bottom 5 completely with non of the countries that were in th bottom 5 in 1990, appearing again in botton 5 in 2011.

# 3. Mean and median of 1990

In [ ]:
display(df5.describe())

Mean = 71 685,03 
median = 1 236.96

The median being very small compared to the mean, it means the any many small numbers compared to largest number, yet the largest numbers are so large that they affect the average.

In [ ]:
df5.median()

In [ ]:
(16487557.04 + 2*2998.60)/230

# 4. The minimum, maximum and interquartile range of the CO2 emissions for 1990

* The minimum = 0
* The maximum = 4823599.85

* Q1 = 857.52
* Q2 = 1 236.96
* Q3 = 21 386.62

** Based on the information, the distribution of the data is negatively skewed(to the left)

# 5.  Histogram of the CO2 emissions for 1990

In [ ]:
# df5 = df_90.groupby('Country')['1990'].apply(lambda x : x.astype(float).sum())
# df5.plot(kind = 'hist', bins = 10)
f, axes = plt.subplots(figsize=(7, 7), sharex=True)
sns.despine(left=True)
# Protected Area histogram
df5 = df_90
from matplotlib.pyplot import hist
df5 = pd.DataFrame({
    'Country': np.random.randn(100),
    '1990': 100 * np.random.rand()
})

_ = hist(df5.Country, weights=df5['1990'])

The shape of the histogram is skewed to the left as expected

# 6. The standard deviation and standard error of the mean in 1990

In [ ]:
# the standard deviation
df5['1990'].std()

In [ ]:
# Standard error
df5['1990'].sem()

# 7. line graph to show C02 emissions in Brazil, Russia, China, India, the USA and South Africa over time

In [ ]:
#index positions
bra = df2['Country'][df2['Country']=='Brazil']
rus = df2['Country'][df2['Country']=='Russian Federation']
chi = df2['Country'][df2['Country']=='China']
ind = df2['Country'][df2['Country']=='India']
usa = df2['Country'][df2['Country']=='United States']
rsa = df2['Country'][df2['Country']=='South Africa']

display(bra)
display(rus)
display(chi)
display(ind)
display(usa)
display(rsa)

In [ ]:
#slicing the dataframe
df_cou = df2.loc[(81,82,83,123,124,125,276,277,278,498,499,500,561,562,563,651,652,653), ('Country','1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2014') ].reset_index(drop=True)

In [ ]:
df_cou.head()

In [ ]:
# Fill NaN with '0'
df_cou = df_cou.fillna(0)

In [ ]:
df_cou.head()

In [ ]:
#summing the emmisions by country
df_group = df_cou.groupby('Country')[('1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2014')].apply(lambda x : x.astype(float).sum()).reset_index()
df_group

#### line graph

In [ ]:
# fig, ax = plt.subplots(figsize=(15,7) )
# df_group.plot(ax=ax)

df_gt = df_group.set_index('Country').T


fig, ax = plt.subplots(figsize=(15,7))
ax.set_title('line graph showing C02 emissions of Countries')
ax.set_ylabel('Emissions')
ax.set_xlabel("Year")
_ = df_gt.plot(ax=ax,linestyle='--', marker='o')

* Brazil and South Africa has slightly increasing trend over the years until 2011
* India has also  been increasing at a constant rate over years until 2011
* Rusian Federation has been almost at a consitant from 1995 until 2011, droping from 1992
* USA has been increasing then later slighty dropped until 2011
* China has a rapid increasing trend from 1990 to 2011, surpassing USA after 2005, USA has been leading until 2005

* All countries tremendously dropped in 2014.

# 8. The mean and standard deviation for land area covered by forest in 1990

In [ ]:
# dataframe where land area is covered by forest
df_for = df2[((df2.SeriesCode == 567))]
df_for.head()

In [ ]:
# 1990 datafram for land covered by forest
dfor_90 = df_for.loc[:, ('Country','1990') ].reset_index(drop = True)
dfor_90

In [ ]:
#filling NaN values with '0' 
#1990
dfor_90['1990'] = dfor_90['1990'].fillna(0)
dfor_90

In [ ]:
# mean
dfor_90['1990'].astype(float).mean()

In [ ]:
# Standard deviation
dfor_90['1990'].astype(float).std()

A larger standard devation indicates thay data are more spread out

# 9. Histograms for land area covered by forest and percentage of area protected in 1990

In [ ]:
# the protected area in 1990
df_pro = df2[((df2.SeriesCode == 616))]
df_pro.head()

In [ ]:
# slicing 
dfpro_90 = df_pro.loc[:, ('Country','1990') ].reset_index(drop = True)
dfpro_90

In [ ]:
#filling NaN values with '0' 
#1990
dfpro_90['1990'] = dfpro_90['1990'].fillna(0)
dfpro_90

In [ ]:
# Protected land Area histogram
dfprol_90 = dfpro_90
from matplotlib.pyplot import hist
dfprol_90 = pd.DataFrame({
    'Country': np.random.randn(100),
    '1990': 100 * np.random.rand()
})
_ = hist(dfprol_90.Country, weights=dfprol_90['1990'])

In [ ]:
plt.hist(dfpro_90['1990'].astype(float), bins=10)
plt.show()

In [ ]:
# Protected Area histogram
dforl_90 = dfor_90
from matplotlib.pyplot import hist
dforl_90 = pd.DataFrame({
    'Country': np.random.randn(100),
    '1990': 100 * np.random.rand()
})
_ = hist(dforl_90.Country, weights=dforl_90['1990'])

In [ ]:
plt.hist(dfor_90['1990'].astype(float), bins=10)
plt.show()

# 10. Scatterplot with a regression line using seaborn.regplot to show the relationship between the proportion of land area covered by forest and the percentage of area protected by land in 2000

In [ ]:
#slicing the dataframe for 

dfor_2000 = df_for.loc[:, ('Country','2000') ].fillna(0).reset_index(drop = True)
display(dfor_2000)

dfpro_2000 = df_pro.loc[:, ('Country','2000') ].fillna(0).reset_index(drop = True)
display(dfpro_2000)

In [ ]:
#concatenating DataFrames along columns
dfcon = pd.concat([dfor_2000,dfpro_2000['2000']], axis=1)

In [ ]:
#renaming both '2000' columns
dfcon.columns = ["Country", "for_2000", "lan_2000"]
dfcon

In [ ]:
#regression plot 
sns.regplot(data=dfcon, x=dfcon["for_2000"].astype(float), y=dfcon["lan_2000"].astype(float))
plt.show()

# 11.log transform variables in order to calculate a correlation coefficient. Log transform variables and show the transformed distributions in a histogram.

In [ ]:
dfcon['log_for_2000'] = np.log10(dfcon['for_2000'].astype(float))
dfcon['log_lan_2000'] = np.log10(dfcon['lan_2000'].astype(float))
display(dfcon)
#slicing transformed columns
dflog = dfcon.loc[ : , ('Country', 'log_for_2000', 'log_lan_2000')]
display(dflog)