In [12]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import statsmodels as sm
from statistics import mean, stdev
import scipy.stats as stats

import warnings
warnings.filterwarnings('ignore')

from IPython.core.interactiveshell import InteractiveShell

InteractiveShell.ast_node_interactivity = "all"

pd.set_option('display.max_columns', None) # for displaying all columns

sns.set()

In [2]:
df = pd.read_csv("mdg.csv")

In [3]:
df

,CountryCode,Country,SeriesCode,MDG,Series,1990,Footnotes,Type,1991,Footnotes.1,Type.1,1992,Footnotes.2,Type.2,1993,Footnotes.3,Type.3,1994,Footnotes.4,Type.4,1995,Footnotes.5,Type.5,1996,Footnotes.6,Type.6,1997,Footnotes.7,Type.7,1998,Footnotes.8,Type.8,1999,Footnotes.9,Type.9,2000,Footnotes.10,Type.10,2001,Footnotes.11,Type.11,2002,Footnotes.12,Type.12,2003,Footnotes.13,Type.13,2004,Footnotes.14,Type.14,2005,Footnotes.15,Type.15,2006,Footnotes.16,Type.16,2007,Footnotes.17,Type.17,2008,Footnotes.18,Type.18,2009,Footnotes.19,Type.19,2010,Footnotes.20,Type.20,2011,Footnotes.21,Type.21,2012,Footnotes.22,Type.22,2013,Footnotes.23,Type.23,2014,Footnotes.24,Type.24,2015,Footnotes.25,Type.25,2016,Footnotes.26,Type.26,2017,Footnotes.27,Type.27,2018,Footnotes.28,Type.28,2019,Footnotes.29,Type.29
0,4,Afghanistan,567,Y,"Proportion of land area covered by forest, per...",2.1,NaN,E,,,,,,,,,,,,,,,,,,,,,,,,,,,,2.1,NaN,E,,,,,,,,,,,,,2.1,NaN,E,,,,,,,,,,,,,2.1,NaN,E,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,4,Afghanistan,749,Y,"Carbon dioxide emissions (CO2), thousand metri...",2676.9,NaN,G,2493.6,NaN,G,1426.5,NaN,G,1375.1,NaN,G,1320.1,NaN,G,1268.8,NaN,G,1199.1,NaN,G,1114.8,NaN,G,1056.1,NaN,G,832.4,NaN,G,781.1,NaN,G,645.4,NaN,G,894.7,NaN,G,1037.8,NaN,G,957.1,NaN,G,1338.5,NaN,G,1657.5,NaN,G,2280.9,NaN,G,4217.1,NaN,G,6776.6,NaN,G,8470.8,NaN,G,12251.4,NaN,G,,,,,,,,,,,,,,,,,,,,,,,,
2,4,Afghanistan,616,Y,Terrestrial and marine areas protected to tota...,0.36,NaN,C,,,,,,,,,,,,,,,,,,,,,,,,,,,,0.36,NaN,C,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,0.46,NaN,C,,,,,,,,,,,,,,,
3,8,Albania,567,Y,"Proportion of land area covered by forest, per...",28.8,NaN,C,,,,,,,,,,,,,,,,,,,,,,,,,,,,28.1,NaN,C,,,,,,,,,,,,,28.5,NaN,C,,,,,,,,,,,,,28.3,NaN,C,,,,,,,,,,,,,,,,,,,,,,,,,,,
4,8,Albania,749,Y,"Carbon dioxide emissions (CO2), thousand metri...",7488,NaN,G,3971.4,NaN,G,2387.2,NaN,G,2343.2,NaN,G,1928.8,NaN,G,2086.5,NaN,G,2016.9,NaN,G,1543.8,NaN,G,1752.8,NaN,G,2984.9,NaN,G,3021.6,NaN,G,3223.3,NaN,G,3751.3,NaN,G,4294.1,NaN,G,4165.7,NaN,G,4253.7,NaN,G,3865,NaN,G,4477.4,NaN,G,4657.1,NaN,G,4488.4,NaN,G,4415.1,NaN,G,4668.1,NaN,G,,,,,,,,,,,,,,,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
685,894,Zambia,749,Y,"Carbon dioxide emissions (CO2), thousand metri...",2445.9,NaN,G,2416.6,NaN,G,2456.9,NaN,G,2500.9,NaN,G,2420.2,NaN,G,2170.9,NaN,G,1870.2,NaN,G,2390.9,NaN,G,2313.9,NaN,G,1807.8,NaN,G,1822.5,NaN,G,1906.8,NaN,G,1969.2,NaN,G,2101.2,NaN,G,2126.9,NaN,G,2277.2,NaN,G,2225.9,NaN,G,1914.2,NaN,G,2159.9,NaN,G,2486.2,NaN,G,2673.2,NaN,G,3047.3,NaN,G,,,,,,,,,,,,,,,,,,,,,,,,
686,894,Zambia,616,Y,Terrestrial and marine areas protected to tota...,36.05,NaN,C,,,,,,,,,,,,,,,,,,,,,,,,,,,,36.06,NaN,C,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,37.85,NaN,C,,,,,,,,,,,,,,,
687,716,Zimbabwe,567,Y,"Proportion of land area covered by forest, per...",57.3,NaN,C,,,,,,,,,,,,,,,,,,,,,,,,,,,,48.8,NaN,C,,,,,,,,,,,,,44.6,NaN,C,,,,,,,,,,,,,40.4,NaN,C,,,,,,,,,,,,,,,,,,,,,,,,,,,
688,716,Zimbabwe,749,Y,"Carbon dioxide emissions (CO2), thousand metri...",15504.1,NaN,G,15823.1,NaN,G,16901.2,NaN,G,16208.1,NaN,G,17645.6,NaN,G,15130,NaN,G,14994.4,NaN,G,14407.6,NaN,G,14253.6,NaN,G,15834.1,NaN,G,13886.9,NaN,G,12563.1,NaN,G,11932.4,NaN,G,10627,NaN,G,9864.2,NaN,G,10715,NaN,G,10249.3,NaN,G,9732.2,NaN,G,7682.4,NaN,G,8239.7,NaN,G,9028.2,NaN,G,9860.6,NaN,G,,,,,,,,,,,,,,,,,,,,,,,,
689,716,Zimbabwe,616,Y,Terrestrial and marine areas protected to tota...,16.9,NaN,C,,,,,,,,,,,,,,,,,,,,,,,,,,,,16.9,NaN,C,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,26.61,NaN,C,,,,,,,,,,,,,,,

 The Dataframe has 690 rows and 95 Columns

 # MISSING VALUES

In [4]:
#since there are empty cells. they need to be replaced with "NaN" before finding the some of missing values
df1 = df.replace(r'^\s*$', np.nan, regex=True)

df1.head()

,CountryCode,Country,SeriesCode,MDG,Series,1990,Footnotes,Type,1991,Footnotes.1,Type.1,1992,Footnotes.2,Type.2,1993,Footnotes.3,Type.3,1994,Footnotes.4,Type.4,1995,Footnotes.5,Type.5,1996,Footnotes.6,Type.6,1997,Footnotes.7,Type.7,1998,Footnotes.8,Type.8,1999,Footnotes.9,Type.9,2000,Footnotes.10,Type.10,2001,Footnotes.11,Type.11,2002,Footnotes.12,Type.12,2003,Footnotes.13,Type.13,2004,Footnotes.14,Type.14,2005,Footnotes.15,Type.15,2006,Footnotes.16,Type.16,2007,Footnotes.17,Type.17,2008,Footnotes.18,Type.18,2009,Footnotes.19,Type.19,2010,Footnotes.20,Type.20,2011,Footnotes.21,Type.21,2012,Footnotes.22,Type.22,2013,Footnotes.23,Type.23,2014,Footnotes.24,Type.24,2015,Footnotes.25,Type.25,2016,Footnotes.26,Type.26,2017,Footnotes.27,Type.27,2018,Footnotes.28,Type.28,2019,Footnotes.29,Type.29
0,4,Afghanistan,567,Y,"Proportion of land area covered by forest, per...",2.1,NaN,E,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.1,NaN,E,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.1,NaN,E,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.1,NaN,E,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4,Afghanistan,749,Y,"Carbon dioxide emissions (CO2), thousand metri...",2676.9,NaN,G,2493.6,NaN,G,1426.5,NaN,G,1375.1,NaN,G,1320.1,NaN,G,1268.8,NaN,G,1199.1,NaN,G,1114.8,NaN,G,1056.1,NaN,G,832.4,NaN,G,781.1,NaN,G,645.4,NaN,G,894.7,NaN,G,1037.8,NaN,G,957.1,NaN,G,1338.5,NaN,G,1657.5,NaN,G,2280.9,NaN,G,4217.1,NaN,G,6776.6,NaN,G,8470.8,NaN,G,12251.4,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4,Afghanistan,616,Y,Terrestrial and marine areas protected to tota...,0.36,NaN,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.36,NaN,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.46,NaN,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,8,Albania,567,Y,"Proportion of land area covered by forest, per...",28.8,NaN,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.1,NaN,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.5,NaN,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.3,NaN,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,8,Albania,749,Y,"Carbon dioxide emissions (CO2), thousand metri...",7488,NaN,G,3971.4,NaN,G,2387.2,NaN,G,2343.2,NaN,G,1928.8,NaN,G,2086.5,NaN,G,2016.9,NaN,G,1543.8,NaN,G,1752.8,NaN,G,2984.9,NaN,G,3021.6,NaN,G,3223.3,NaN,G,3751.3,NaN,G,4294.1,NaN,G,4165.7,NaN,G,4253.7,NaN,G,3865,NaN,G,4477.4,NaN,G,4657.1,NaN,G,4488.4,NaN,G,4415.1,NaN,G,4668.1,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# dealing with mising values
null_columns=df1.columns[df1.isnull().any()]
df1[null_columns].isnull().sum().sort_values(ascending=False).head(50)

Type.29         690
Footnotes.18    690
Footnotes.14    690
Footnotes.1     690
Footnotes.21    690
Footnotes.9     690
Footnotes.2     690
Footnotes.19    690
Footnotes.8     690
Footnotes.3     690
Footnotes.11    690
Type.22         690
Footnotes.7     690
Footnotes.17    690
Footnotes.4     690
Footnotes.12    690
Footnotes.16    690
Footnotes.13    690
Footnotes.5     690
Footnotes.6     690
Footnotes.22    690
2012            690
2013            690
Footnotes.23    690
2019            690
Type.28         690
Footnotes.28    690
2018            690
Type.27         690
Footnotes.27    690
2017            690
Type.26         690
Footnotes.26    690
2016            690
Type.25         690
Footnotes.25    690
2015            690
Footnotes.24    690
Type.23         690
Footnotes.29    690
Footnotes.10    685
Footnotes       685
Footnotes.20    685
Footnotes.15    685
Type.1          508
1991            508
1993            486
Type.3          486
1992            486
Type.2          486
dtype: int64

 # CLEANING THE DATA

In [6]:
#since we have columns with 690 missing value, it means there is no data available along the columns.. therefore all columns with 690 missing values should be dropped
df2 = df1.dropna(how='all', axis='columns')
df2.head()

,CountryCode,Country,SeriesCode,MDG,Series,1990,Footnotes,Type,1991,Type.1,1992,Type.2,1993,Type.3,1994,Type.4,1995,Type.5,1996,Type.6,1997,Type.7,1998,Type.8,1999,Type.9,2000,Footnotes.10,Type.10,2001,Type.11,2002,Type.12,2003,Type.13,2004,Type.14,2005,Footnotes.15,Type.15,2006,Type.16,2007,Type.17,2008,Type.18,2009,Type.19,2010,Footnotes.20,Type.20,2011,Type.21,2014,Type.24
0,4,Afghanistan,567,Y,"Proportion of land area covered by forest, per...",2.1,NaN,E,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.1,NaN,E,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.1,NaN,E,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.1,NaN,E,NaN,NaN,NaN,NaN
1,4,Afghanistan,749,Y,"Carbon dioxide emissions (CO2), thousand metri...",2676.9,NaN,G,2493.6,G,1426.5,G,1375.1,G,1320.1,G,1268.8,G,1199.1,G,1114.8,G,1056.1,G,832.4,G,781.1,NaN,G,645.4,G,894.7,G,1037.8,G,957.1,G,1338.5,NaN,G,1657.5,G,2280.9,G,4217.1,G,6776.6,G,8470.8,NaN,G,12251.4,G,NaN,NaN
2,4,Afghanistan,616,Y,Terrestrial and marine areas protected to tota...,0.36,NaN,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.36,NaN,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.46,C
3,8,Albania,567,Y,"Proportion of land area covered by forest, per...",28.8,NaN,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.1,NaN,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.5,NaN,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.3,NaN,C,NaN,NaN,NaN,NaN
4,8,Albania,749,Y,"Carbon dioxide emissions (CO2), thousand metri...",7488,NaN,G,3971.4,G,2387.2,G,2343.2,G,1928.8,G,2086.5,G,2016.9,G,1543.8,G,1752.8,G,2984.9,G,3021.6,NaN,G,3223.3,G,3751.3,G,4294.1,G,4165.7,G,4253.7,NaN,G,3865,G,4477.4,G,4657.1,G,4488.4,G,4415.1,NaN,G,4668.1,G,NaN,NaN

In [7]:
df2.columns

Index(['CountryCode', 'Country', 'SeriesCode', 'MDG', 'Series', '1990',
       'Footnotes', 'Type', '1991', 'Type.1', '1992', 'Type.2', '1993',
       'Type.3', '1994', 'Type.4', '1995', 'Type.5', '1996', 'Type.6', '1997',
       'Type.7', '1998', 'Type.8', '1999', 'Type.9', '2000', 'Footnotes.10',
       'Type.10', '2001', 'Type.11', '2002', 'Type.12', '2003', 'Type.13',
       '2004', 'Type.14', '2005', 'Footnotes.15', 'Type.15', '2006', 'Type.16',
       '2007', 'Type.17', '2008', 'Type.18', '2009', 'Type.19', '2010',
       'Footnotes.20', 'Type.20', '2011', 'Type.21', '2014', 'Type.24'],
      dtype='object')

In [8]:
# New Dataframe missing values in descending order
null_columns=df2.columns[df2.isnull().any()]
df2[null_columns].isnull().sum().sort_values(ascending=False).head(50)

Footnotes       685
Footnotes.20    685
Footnotes.10    685
Footnotes.15    685
Type.1          508
1991            508
Type.2          486
1993            486
Type.3          486
1992            486
1994            485
Type.4          485
Type.6          484
1996            484
Type.5          483
1995            483
Type.8          481
1999            481
Type.9          481
Type.7          481
1997            481
1998            481
Type.11         479
2001            479
2002            478
Type.12         478
2003            478
2004            478
Type.14         478
Type.13         478
2006            476
Type.16         476
2007            475
Type.17         475
2008            475
Type.18         475
2009            475
Type.19         475
2011            475
Type.21         475
Type.24         467
2014            467
2005            254
Type.15         253
2010            252
Type.20         251
1990             63
Type             62
2000             34
Type.10          33
dtype: int64

In [9]:
#droping Footnote columns to have consistancy in the data
df2.drop(['Footnotes','Footnotes.10','Footnotes.15','Footnotes.20'], axis='columns', inplace=True)

In [9]:
df2.columns

Index(['CountryCode', 'Country', 'SeriesCode', 'MDG', 'Series', '1990',
       'Footnotes', 'Type', '1991', 'Type.1', '1992', 'Type.2', '1993',
       'Type.3', '1994', 'Type.4', '1995', 'Type.5', '1996', 'Type.6', '1997',
       'Type.7', '1998', 'Type.8', '1999', 'Type.9', '2000', 'Footnotes.10',
       'Type.10', '2001', 'Type.11', '2002', 'Type.12', '2003', 'Type.13',
       '2004', 'Type.14', '2005', 'Footnotes.15', 'Type.15', '2006', 'Type.16',
       '2007', 'Type.17', '2008', 'Type.18', '2009', 'Type.19', '2010',
       'Footnotes.20', 'Type.20', '2011', 'Type.21', '2014', 'Type.24'],
      dtype='object')

 #### Number of country represented

In [23]:
df['Country'].nunique()

230

 ### Missing values by Country, Year, Series

In [15]:
#missing values by country in ascending order
df1.groupby('Country').apply(lambda x: x.isnull().sum().sum()).sort_values(ascending=False).head(50)

Country
Yugoslavia [former Socialist Federal Republic]    266
Sudan                                             264
South Sudan                                       264
Monaco                                            260
United States Virgin Islands                      256
San Marino                                        256
Mayotte                                           256
Puerto Rico                                       256
Tuvalu                                            256
Guam                                              256
Tokelau                                           256
American Samoa                                    256
Northern Mariana Islands                          256
Western Sahara                                    256
Liechtenstein                                     246
Montenegro                                        244
Serbia                                            244
Lesotho                                           242
Serbia and Montenegro                             242
Wallis and Futuna Islands                         240
Timor-Leste                                       236
State of Palestine                                226
Anguilla                                          226
Micronesia, Federated States of                   226
Andorra                                           222
Turks and Caicos Islands                          222
Somalia                                           220
Eritrea                                           220
China, Hong Kong Special Administrative Region    220
China, Macao Special Administrative Region        220
Saint Helena                                      218
Gibraltar                                         218
Saint Pierre and Miquelon                         218
Sudan (former)                                    218
Czech Republic                                    216
Croatia                                           216
Slovakia                                          216
Lithuania                                         216
Estonia                                           216
Palau                                             216
Bosnia and Herzegovina                            216
Russian Federation                                216
Georgia                                           216
Slovenia                                          216
Republic of Moldova                               216
Azerbaijan                                        216
Tajikistan                                        216
Ukraine                                           216
Armenia                                           216
Kazakhstan                                        216
dtype: int64

In [16]:
# missing values by series
df1.groupby('Series').apply(lambda x: x.isnull().sum().sum()).sort_values(ascending=False)

Series
Terrestrial and marine areas protected to total territorial area, percentage    19362
Proportion of land area covered by forest, percentage                           18892
Carbon dioxide emissions (CO2), thousand metric tons of CO2 (CDIAC)             11550
dtype: int64

In [ ]:
 df_90 = df.iloc[:, ('Country','1990',)]

In [20]:
# unique seriesCode
df['SeriesCode'].unique()

array([567, 749, 616], dtype=int64)

In [31]:
#unique type
df['Type'].value_counts()

C    406
G    181
      62
E     41
Name: Type, dtype: int64

In [33]:
#number of countries
df['Country'].nunique()

230

In [34]:
#mdg unique
df['MDG'].nunique()

1

In [38]:
un
df['Series'].value_counts()

Proportion of land area covered by forest, percentage                           230
Terrestrial and marine areas protected to total territorial area, percentage    230
Carbon dioxide emissions (CO2), thousand metric tons of CO2 (CDIAC)             230
Name: Series, dtype: int64

In [39]:
df['Type'].value_counts()

C    406
G    181
      62
E     41
Name: Type, dtype: int64

In [44]:
df.groupby('Country').apply(lambda x: x.isnull().sum().sum())

Country
Afghanistan                                       29
Albania                                           29
Algeria                                           29
American Samoa                                     7
Andorra                                           24
                                                  ..
Western Sahara                                     7
Yemen                                             29
Yugoslavia [former Socialist Federal Republic]     2
Zambia                                            29
Zimbabwe                                          29
Length: 230, dtype: int64

In [13]:
df2 = df.replace(r'^\s*$', np.nan, regex=True)
df2.head()

,CountryCode,Country,SeriesCode,MDG,Series,1990,Footnotes,Type,1991,Footnotes.1,Type.1,1992,Footnotes.2,Type.2,1993,Footnotes.3,Type.3,1994,Footnotes.4,Type.4,1995,Footnotes.5,Type.5,1996,Footnotes.6,Type.6,1997,Footnotes.7,Type.7,1998,Footnotes.8,Type.8,1999,Footnotes.9,Type.9,2000,Footnotes.10,Type.10,2001,Footnotes.11,Type.11,2002,Footnotes.12,Type.12,2003,Footnotes.13,Type.13,2004,Footnotes.14,Type.14,2005,Footnotes.15,Type.15,2006,Footnotes.16,Type.16,2007,Footnotes.17,Type.17,2008,Footnotes.18,Type.18,2009,Footnotes.19,Type.19,2010,Footnotes.20,Type.20,2011,Footnotes.21,Type.21,2012,Footnotes.22,Type.22,2013,Footnotes.23,Type.23,2014,Footnotes.24,Type.24,2015,Footnotes.25,Type.25,2016,Footnotes.26,Type.26,2017,Footnotes.27,Type.27,2018,Footnotes.28,Type.28,2019,Footnotes.29,Type.29
0,4,Afghanistan,567,Y,"Proportion of land area covered by forest, per...",2.1,NaN,E,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.1,NaN,E,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.1,NaN,E,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.1,NaN,E,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4,Afghanistan,749,Y,"Carbon dioxide emissions (CO2), thousand metri...",2676.9,NaN,G,2493.6,NaN,G,1426.5,NaN,G,1375.1,NaN,G,1320.1,NaN,G,1268.8,NaN,G,1199.1,NaN,G,1114.8,NaN,G,1056.1,NaN,G,832.4,NaN,G,781.1,NaN,G,645.4,NaN,G,894.7,NaN,G,1037.8,NaN,G,957.1,NaN,G,1338.5,NaN,G,1657.5,NaN,G,2280.9,NaN,G,4217.1,NaN,G,6776.6,NaN,G,8470.8,NaN,G,12251.4,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4,Afghanistan,616,Y,Terrestrial and marine areas protected to tota...,0.36,NaN,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.36,NaN,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.46,NaN,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,8,Albania,567,Y,"Proportion of land area covered by forest, per...",28.8,NaN,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.1,NaN,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.5,NaN,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.3,NaN,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,8,Albania,749,Y,"Carbon dioxide emissions (CO2), thousand metri...",7488,NaN,G,3971.4,NaN,G,2387.2,NaN,G,2343.2,NaN,G,1928.8,NaN,G,2086.5,NaN,G,2016.9,NaN,G,1543.8,NaN,G,1752.8,NaN,G,2984.9,NaN,G,3021.6,NaN,G,3223.3,NaN,G,3751.3,NaN,G,4294.1,NaN,G,4165.7,NaN,G,4253.7,NaN,G,3865,NaN,G,4477.4,NaN,G,4657.1,NaN,G,4488.4,NaN,G,4415.1,NaN,G,4668.1,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
null_columns=df.columns[df2.isnull().any()]
df2[null_columns].isnull().sum().sum()

49804

In [69]:
#missing values by country

df2.groupby('Country').apply(lambda x: x.isnull().sum().sum())

Country
Afghanistan                                       212
Albania                                           212
Algeria                                           212
American Samoa                                    256
Andorra                                           222
                                                 ...
Western Sahara                                    256
Yemen                                             212
Yugoslavia [former Socialist Federal Republic]    266
Zambia                                            212
Zimbabwe                                          212
Length: 230, dtype: int64

In [12]:
null_columns=df2.columns[df2.isnull().any()]
df2[null_columns].isnull().sum().sort_values(ascending=False).head(50)

Type.29         690
Footnotes.18    690
Footnotes.14    690
Footnotes.1     690
Footnotes.21    690
Footnotes.9     690
Footnotes.2     690
Footnotes.19    690
Footnotes.8     690
Footnotes.3     690
Footnotes.11    690
Type.22         690
Footnotes.7     690
Footnotes.17    690
Footnotes.4     690
Footnotes.12    690
Footnotes.16    690
Footnotes.13    690
Footnotes.5     690
Footnotes.6     690
Footnotes.22    690
2012            690
2013            690
Footnotes.23    690
2019            690
Type.28         690
Footnotes.28    690
2018            690
Type.27         690
Footnotes.27    690
2017            690
Type.26         690
Footnotes.26    690
2016            690
Type.25         690
Footnotes.25    690
2015            690
Footnotes.24    690
Type.23         690
Footnotes.29    690
Footnotes.10    685
Footnotes       685
Footnotes.20    685
Footnotes.15    685
Type.1          508
1991            508
1993            486
Type.3          486
1992            486
Type.2          486
dtype: int64